/* Contenedor principal de la portada*/
.portada {
    position: relative;
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;  /* centra horizontalmente overlay */
    align-items: center;      /* centra verticalmente overlay */
    overflow: hidden;
}

.portada.bg-0 { background-image: url('/assets/pic_1.jpg'); }
.portada.bg-1 { background-image: url('/assets/pic_2.png'); }
.portada.bg-2 { background-image: url('/assets/pic_3.jpg'); }
.portada.bg-3 { background-image: url('/assets/pic_4.jpg'); }

.portada .overlay
{
    position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: flex-start;
    padding-left: calc(var(--sidebar-width) + 20px);
  text-align: left;
}

.portada-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    margin: -2rem -2rem -2rem -2rem;
    padding: 0;
}

.titulo {
    font-family: 'Get schwifty', cursive;
    font-size: 3rem;
    color: #00ffcc;
    text-shadow: 0 0 20px #00ffcc;
}

.subtitulo {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 1rem;
}

.descripcion {
    font-size: 1.2rem;
    color: #ddd;
    margin-top: 1rem;
    max-width: 600px;
    line-height: 1.5;
}

.portada::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

*[letter-animation="breath"] > span {
    display: inline-block;
    white-space: break-spaces;
    animation: breath calc(var(--speed, 1200ms)) ease
        calc(var(--index) * 100ms) infinite alternate; 
}

@keyframes breath {
    from { transform: scale(1);
    } 
    to { transform: scale(1.25) translateY(-5px);
    text-shadow: 0 0 20px #00ffcc;}
}

@media (max-width: 768px) {
    .portada {
        left: 0;
    }
    .overlay {
        padding: 1rem 1.5rem;
    }
    .titulo {
        font-size: 2rem;
    }
    .subtitulo {
        font-size: 1rem;
    }
    .descripcion {
        font-size: 0.9rem;
    }
}
